body {
    background: lightgray;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 55px;
    display: block;
}

/* h2 {
    background: black;
    
} */

h3 {
    font-family: cursive;
    font-size: 25px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

#header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#outercircle {
    background: black;
    border-radius: 50px;
    height: 500px;
    width: 500px;
    position: relative;
    /* border: 10px solid black; */
    /* border-width: 5px; */
    margin: auto;     
}

#button1 {
    background: red;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 40px 0 0 0;
    border: 10px solid black;

}

#button2 {
    background:green;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 40px 0 0 ;
    left: 50%;
    border: 10px outset black;
}

#button3 {
    background:yellow;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 40px;
    top: 50%;
    border: 10px solid black;
}

#button4 {
    background: blue;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 40px 0;
    top: 50%;
    left: 50%;
    border: 10px solid black;
}

#innercircle {
    background: silver;
    text-align: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto; 
    top: 25%;
}