body {
    background-image: url(https://images.pexels.com/photos/3847498/pexels-photo-3847498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    display: block;
}

/* h2 {
    font-weight: bolder;
    
} */

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#outercircle {
    background: black;
    /* border-width: thick; */
    border-radius: 50px;
    height: 500px;
    width: 500px;
    position: relative;
    border: 25px solid black;
    /* border-width: 5px; */
    margin: auto;
       
} 

.colorbutton {
    height: 245px;
    width: 245px;
    display: inline-block;
    cursor: pointer;  
}

/*fix later to change the color of flash*/
.colorbutton:hover {
    box-shadow: inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;
}

.active {
    background:white !important;
}

.button1 {
    background: red;
    position: absolute;
    border-radius: 40px 0 0 0;
}

.button2 {
    background:green;
    position: absolute;
    border-radius: 0 40px 0 0 ;
    left: 50%;

}

.button3 {
    background:yellow;
    position: absolute;
    border-radius: 0 0 0 40px;
    top: 50%;
  
}

.button4 {
    background: blue; 
    position: absolute;
    border-radius: 0 0 40px 0;
    top: 50%;
    left: 50%;
    
}

#innercircle {
    background: #aaa9ad;
    position: absolute;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 5px;
    /* top: 50%; */
    top: 44%;
    left: 43%;
}

#simon {
    margin: 40px;
    
}
#start {
    border-radius: 50%;
    background: oldlace;

}

#reset {
    border-radius: 50%;
    background: oldlace;
}